.photoGallery {
  display: flex;
  background-color: #fff;
  height: 100%;
  padding: 10px;

  .photoGalleryPhoto {
    max-width: 500px;
    max-height: 500px;
    height: 100%;
    width: 100%;
  }
}
