.photoGallery {
  background-color: hsl(0, 0%, 100%);
  height: 100%;
  width: 100%;
  padding: 10px;

  .photoGalleryContent {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .photoGalleryPhoto {
      max-width: 500px;
      max-height: 500px;
      height: 100%;
      width: 100%;
    }
  }
}
