.error-screen {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #000;
  font-family: "MS Sans Serif", Arial, sans-serif;

  .error-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 600px;
    text-align: left;
    color: #fff;

    .error-icon {
      width: 70px;
      height: 70px;
      margin-bottom: 20px;
      margin-right: 10px;
    }

    h4 {
      margin-bottom: 20px;
      font-weight: 100;

      span {
        color: #ff6161;
      }
    }
  }
}
