.desktop {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
