.stepper-container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
}

.MuiStepLabel-label {
  color: #ff6f61 !important;
  font-family: "Courier New", monospace !important;
}

.MuiStepIcon-root {
  color: #92a8d1 !important;

  &.Mui-active {
    color: #ff6f61 !important;
  }

  &.Mui-completed {
    color: #c2e59c !important;
  }
}

.MuiStepIcon-text {
  fill: #fff !important;
}
