.stepper-container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
}

.MuiStepLabel-label {
  color: #ff6f61 !important;
  font-family: "Courier New", monospace !important;
}

.MuiStepIcon-root {
  color: #ff6f61 !important;
}

.MuiStepIcon-text {
  fill: #fff !important;
}
