.msn-chat {
  text-align: left;
  max-height: 100vh;
  height: 100%;
  min-height: 350px;

  .msn-chat-header {
    .msn-contact-info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: #d3f9ff;
      width: 100%;
      padding: 5px 0;

      img {
        height: 20px;
        width: 20px;
        margin: 0 10px;
      }

      h5,
      p {
        line-height: 1.2;
      }
      p {
        font-size: 12px;
        color: #999;
      }
    }

    .msn-chat-config {
      display: flex;
      background-image: linear-gradient(#b1ddec 0%, #ffff 80%);
      box-shadow: 0px 1px 4px #00000057;
      width: 100%;
      padding: 10px 0;

      img {
        height: 23px;
        width: 23px;
        margin: 0 10px;
      }
    }
  }

  .msn-chat-content {
    display: flex;
    background-color: #ecf6f9;
    padding: 10px;
    border: 1px solid blue;
    height: calc(100% - 83px);

    .msn-chat-content-messages {
      width: 100%;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .recieve {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
        background-color: white;
        border: thin solid #bed6e0;
        border-radius: 5px;
        padding: 10px;
        height: 100%;

        .msg {
          display: flex;
          min-height: 20px;
          border-bottom: none;
          padding: 3px 5px;
          width: 100%;

          p {
            line-height: 1.2;
            span {
              font-weight: 600;
            }
          }

          &.enviado {
            p span {
              color: palevioletred;
            }
          }

          &.recebido {
            p span {
              color: royalblue;
            }
          }
        }
      }

      .send {
        display: flex;
        flex-direction: column;
        height: 170px;

        textarea {
          margin: 0;
          height: 100%;
          border: thin solid #bed6e0;
          border-radius: 5px;
          padding: 10px;

          &:hover,
          &:visited,
          &:focus {
            border: 1px solid #999;
            outline: none;
          }
        }
      }
    }

    .msn-chat-content-avatars {
      height: 100%;
      position: relative;

      .topavatar,
      .bottomavatar {
        display: block;
        width: 120px;
        height: 120px;

        .chatAvatarImg {
          margin: 9px;
          max-width: 96px;
          border-radius: 2px;
        }

        .chatAvatarBorder {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .bottomavatar {
        position: absolute;
        bottom: 0;
      }
    }

    .msn-chat-messenger {
      display: block;
      background-color: #ffff;
      max-height: 400px;
      width: 100%;
      height: 100%;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 5px;
    }
  }
}

@media (max-width: 600px) {
  .msn-chat {
    max-height: 100%;
    min-height: 100%;
    height: 100%;

    .msn-chat-header {
      .msn-contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .msn-chat-config {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .msn-chat-content {
      height: 100%;

      .msn-chat-content-messages {
        margin-right: 0;
      }

      .msn-chat-content-avatars {
        display: none;
      }
    }
  }
}
