.msn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-image: linear-gradient(#005ca7 0%, #ffff 25%);
  padding: 30px 0;

  .msn-login-container {
    border-radius: 5px;
    width: 400px;
    font-family: "Tahoma", Arial, sans-serif;

    .msn-header {
      padding: 5px;
      display: flex;
      justify-content: space-between;

      .msn-header-logo {
        display: flex;
        align-items: center;
        color: #fff;

        img {
          width: 50px;
          margin-right: 5px;
        }
      }
    }

    .msn-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      text-align: center;

      .msn-logo {
        width: 120px;
        margin-bottom: 20px;
        border: 2px solid #cfdce5;
        border-radius: 10px;
      }

      form {
        width: 100%;

        .msn-input-group {
          margin-bottom: 15px;
          text-align: left;
          width: 100%;

          label {
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
          }
          input {
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
          }
        }
        .msn-status-group {
          margin-bottom: 20px;
          text-align: left;

          label {
            display: block;
            font-size: 14px;
            margin-bottom: 5px;
          }

          .msn-status-select {
            position: relative;
            display: flex;
            align-items: center;
          }
        }
        button {
          width: 100%;
          padding: 10px;
          border: 1px solid #000;
          background-color: #e8e8e8;
          cursor: pointer;
          font-size: 14px;
          border-radius: 5px;
        }

        .error-message {
          color: red;
          font-size: 12px;
          margin-bottom: 10px;
          text-align: left;
        }
      }
    }
  }
}
